body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  text-align: center;
  padding-top: 80px;
  overflow-x: hidden;
}

.back-btn {
  background: #f0f8ff;
  border: 1px solid #0072ff;
  color: #0072ff;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 114, 255, 0.15);
  margin-left: 7%;
  margin-top: -5px;
}

.back-btn:hover {
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%) !important;
  box-shadow: 0 4px 8px rgba(0, 114, 255, 0.2);
  transform: translateY(-2px);
}

.back-btn-inside {
  margin-top: 0;
  margin-bottom: 32px;
  align-self: flex-start;
}
